@model NostalgiPizza.Models.Cart

@{
    Layout = "_EditLayout";
}

@foreach (var cart in Model.CartItems)
{
    <p>
        @cart.Quantity st 
        @cart.Dish.Name 
        @cart.Dish.Price kr 
        <a asp-controller="Cart" asp-action="EditCartItem" asp-route-id="@cart.Id" data-target="#modifyCartItemModal" data-toggle="modal">Edit</a> 
        <a asp-controller="Cart" asp-action="DeleteCartItem" asp-route-id="@cart.Id">Delete</a>
    </p>
    
    <p>
        @foreach (var ingredient in cart.CartItemIngredients)
        {
        @ingredient.Ingredient.Name 
        }
    </p>
    
}
<a asp-controller="Payment" asp-action="Index">Pay</a>

<!-- Modal -->
<div class="modal fade" id="modifyCartItemModal" tabindex="-1" role="dialog" aria-labelledby="modifyDishModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>