@model NostalgiPizza.Models.Cart

<section class="content-header">
    <h1>
        Shopping cart
    </h1>
</section>

<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Your order</h3>
        </div>
        <div class="box-body table-responsive no-padding">
            <table class="table table-hover">
                <tr>
                    <th class="text-center">Quantity</th>
                    <th>Dish</th>
                    <th>Ingredients</th>
                    <th class="text-center">Price</th>
                    <th></th>
                </tr>
                @foreach (var cartItem in Model.CartItems)
                {

                    var ingredientsList = cartItem.CartItemIngredients.Select(ci => ci.Ingredient.Name).ToList();
                    var result = string.Join(", ", ingredientsList.Take(ingredientsList.Count - 1)) + (ingredientsList.Count <= 1 ? "" : " & ") + ingredientsList.LastOrDefault();
                    
                    <tr>
                        <td class="text-center">@cartItem.Quantity</td>
                        <td>@cartItem.Dish.Name</td>
                        <td>@result</td>
                        <td class="text-center">@cartItem.Dish.Price</td>
                        <td class="text-center" style="width: 10%">
                            <a class="btn-sm btn-primary margin-r-5" asp-controller="Cart" asp-action="EditCartItem" asp-route-id="@cartItem.Id" data-target="#modifyCartItemModal" data-toggle="modal"><i class="fa fa-pencil"></i></a>
                            <a class="btn-sm btn-danger" asp-controller="Cart" asp-action="DeleteCartItem" asp-route-id="@cartItem.Id"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="box-footer">
            <div class="pull-right">
                <a class="btn btn-success" asp-controller="Payment" asp-action="Payment" asp-route-id="@Model.Id">Pay</a>
            </div>
            <a class="btn btn-default" asp-controller="Home" asp-action="Index">Back</a>
        </div>
    </div>
</section>




<!-- Modal -->
<div class="modal fade" id="modifyCartItemModal" tabindex="-1" role="dialog" aria-labelledby="modifyCartItemModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>