@model NostalgiPizza.Models.CreateViewModel

@{
    Layout = "_EditLayout";
}

<div class="edit-page">
    <div class="form">
        <form asp-action="Create" method="post">
            <select asp-for="@Model.CategoryId" asp-items="@Model.CategoryList">
                <option>Category</option>
            </select>
            <input asp-for="@Model.NewName" placeholder="name" />
            <input asp-for="@Model.Price" placeholder="price" />
            <div class="text-left">
                @for (var i = 0; i < Model.IngredientList.Count; i++)
                {
                    <div class="checkbox">
                        <label asp-for="@Model.IngredientList[i].Enable">
                            <input type="checkbox" asp-for="@Model.IngredientList[i].Enable"/>@Model.IngredientList[i].Name</label>
                        <input type="hidden" asp-for="@Model.IngredientList[i].Name"/>
                        <input type="hidden" asp-for="@Model.IngredientList[i].Id"/>
                    </div>
                }
            </div>

            <button type="submit">create</button>
        </form>
    </div>
</div>
