@model NostalgiPizza.Models.EditViewModel

@{
    Layout = "_EditLayout";
}

<div class="edit-page">
    <div class="form">
        <form asp-action="Edit" method="post">
            <input asp-for="@Model.Dish.Name" placeholder="name" />
            <input type="hidden" asp-for="@Model.Dish.DishId" />
            <input asp-for="@Model.Dish.Price" placeholder="price" />
            <div class="text-left">
                @for (var di = 0; di < Model.DishIngredients.Count; di++)
                {
                    <div class="checkbox">
                        <label asp-for="@Model.DishIngredients[di].Ingredient.Enable">
                            <input type="checkbox" asp-for="@Model.DishIngredients[di].Ingredient.Enable" checked/>@Model.DishIngredients[di].Ingredient.Name</label>
                        <input type="hidden" asp-for="@Model.DishIngredients[di].Ingredient.Name"/>
                        <input type="hidden" asp-for="@Model.DishIngredients[di].Ingredient.IngredientId"/>
                    </div>
                }

                @for (var ai = 0; ai < Model.AllIngredients.Count; ai++)
                {
                    <div class="checkbox">
                        <label asp-for="@Model.AllIngredients[ai].Enable">
                            <input type="checkbox" asp-for="@Model.AllIngredients[ai].Enable"/>@Model.AllIngredients[ai].Name</label>
                        <input type="hidden" asp-for="@Model.AllIngredients[ai].Name"/>
                        <input type="hidden" asp-for="@Model.AllIngredients[ai].IngredientId"/>
                    </div>
                }
            </div>
            <button type="submit">save</button>
        </form>
    </div>
</div>
