@model NostalgiPizza.Models.CreateViewModel

@{
    Layout = "_EditLayout";
}

<div class="edit-page">
    <div class="form">
        <form asp-controller="Home" asp-action="Create" method="post">
            <select asp-for="@Model.CategoryId" asp-items="@Model.CategoryList">
                <option>Category</option>
            </select>
            <input asp-for="@Model.Name" placeholder="name"/>
            <input asp-for="@Model.Price" placeholder="price"/>

            @for (var i = 0; i < Model.IngredientList.Count; i++)
            {
                <input type="checkbox" asp-for="@Model.IngredientList[i].Enable"/>
                <label asp-for="@Model.IngredientList[i].Enable">@Model.IngredientList[i].Name</label>
                <input type="hidden" asp-for="@Model.IngredientList[i].Name" />
                <input type="hidden" asp-for="@Model.IngredientList[i].IngredientId" />
            }
            <button type="submit">create</button>
        </form>
    </div>
</div>
