@using System.Collections.Generic
@using System.Linq
@model NostalgiPizza.Models.DetailsViewModel

@{
    Layout = "_EditLayout";
}

<div class="edit-page">
    <div class="wrapper">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Ingredients</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var d in Model.Dishes)
                {
                    <tr>
                        <td class="text-left">@d.Name</td>
                        @{
                            var ingredientsList = d.DishIngredients.Select(di => di.Ingredient.Name).ToList();
                            var result = "";
                            if (ingredientsList != null)
                            {
                                result = string.Join(", ", ingredientsList.Take(ingredientsList.Count - 1)) + (ingredientsList.Count <= 1 ? "" : " & ") + ingredientsList.LastOrDefault();
                            }
                        }
                        <td class="text-left">@result</td>
                        <td>@d.Price</td>
                        <td><a class="button button-green" asp-action="Edit" asp-route-id="@d.DishId"><i class="fa fa-fw fa-pencil-square-o"></i></a></td>
                        <td><a class="button button-red" asp-action="Delete" asp-route-id="@d.DishId"><i class="fa fa-fw fa-trash-o"></i></a></td>


                    </tr>
                }

                </tbody>
            </table>
        </div>
        <a class="button button-orange" asp-controller="Home" asp-action="Index">Back</a>
        <a class="button button-green pull-right" asp-controller="Home" asp-action="Create"><i class="fa fa-plus"></i> Add</a>
    </div>
    
</div>